<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PluginApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PluginApp.Properties.Settings>
            <setting name="urlMessage" serializeAs="String">
                <value>http://www.stylusstudio.com/edifact/40100/{0}_.htm</value>
            </setting>
            <setting name="urlSegment" serializeAs="String">
                <value>http://www.stylusstudio.com/edifact/{0}/{1}_.htm</value>
            </setting>
        </PluginApp.Properties.Settings>
    </userSettings>
</configuration>
